* {
  margin: 0;
  padding: 0;
}
.todayCont {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.todayHead {
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem 0;
}
.addBtn {
  width: 70%;
  height: 20px;
  margin: 0.5rem 0;
}
